header{
    display: flex;
    border: solid red;
    width: 15vw;
    align-items: center;

    p{
        font-size: 1rem;
    }
}

.conteinerCards{
    border:solid blue;
    display: flex;

}

.card{
    border: solid green;


}

.conteinerDados{
    border: solid violet;
    width: 60%;
    height: 20vh;
    display: flex;
    justify-content:space-evenly;

    div{
        border:solid orange;
        display: flex;

    }

}